# Nuxt
.nuxt/
.output/
.nitro/
.cache/

# Dependencies
node_modules/

# Build
dist/

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln